@charset "utf-8";

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;	
}
.intro {
    font-size: 16pt;
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";    
}
.header {
	background-color: peachpuff;
	text-align: justify;
	font-size: 18pt;
	
}
#header {
	background-color:aqua;
	text-align: justify;
	
}
.navbar {
    margin: auto;
    font-size: 18pt;
    width: auto;
    border: hidden;
    text-align: center;
    word-spacing: justify;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	background-color: none;
}
.marquee {
    animation: scroll-right-left 5s linear infinite;
}

@keyframes scroll-right-left {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(-100px);
    }
}